@import url(./../assets/fonts/SpaceMono.css);
@import url(./../assets/fonts/NerdFont.css);

:root {
    font-family: SpaceMono;
    font-size: 16px;

    /* COLORS */
    --col-primary: color(display-p3 0.148 0.298 0.698);
    --col-secondary: hsl(250 50% 100%);

    --col-background: var(--col-secondary);
    --col-text: var(--col-primary);

    background-color: var(--col-background);
    color: var(--col-text);
}

a {
    color: currentColor;
    text-decoration: underline;
}

a::after {
    font-family: NerdFont;
    content: "ó°´š";
    text-decoration: none;
    padding-left: 8px;
}

.spacer {
    min-width: 30px;
    min-height: 30px;
}

/* .faded {
    color: var(--col-tertiary);
} */

.content {
    --wmar: 30px;
    --side-pad: 14px;
    --border-size: 2px;

    width: calc(100vw - (var(--wmar) + (var(--wmar) - var(--side-pad) - var(--border-size))));
    max-width: 700px;
    min-height: 80vh;
    margin: 10vh auto;
    padding-left: var(--side-pad);
    border-left: var(--border-size) solid currentColor;
}


h1 {
    font-size: 26px;
    font-weight: bold;
}